@page
@model TODOWebApplication.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TodoItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.AddedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TodoItem.ID" class="btn btn-warning">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
